.footer {
  padding: 135px 25px 60px 25px;
}

.footer__social {
  display: flex;
  justify-content: center;
}

.social__item {
  max-width: 30px;
  height: auto;
  margin: 0 17px 20px 17px;
}

.social__item:hover {
  opacity: 0.6;
  transition: 0.3s ease;
}

.footer__copyright {
  text-align: center;
}

.footer__copyright {
  font-size: 14px;
}
