.featured__work {
  margin-top: 170px;
  padding: 0 20px;
}

.featured__work--title {
  font-weight: 700;
  font-size: 44px;
  padding-bottom: 45px;
}

@media (max-width: 650px) {
  .featured__work {
    margin-top: 90px;
  }

  .featured__work--title {
    font-size: 30px;
    padding-bottom: 25px;
  }
}
